---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    
    <link rel="icon" type="image/png" sizes="192x192" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="256x256" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/favicon-256x256.png">
    <link rel="icon" type="image/png" sizes="144x144" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/favicon-144x144.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="48x48" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="https://github.com/florias-papadopoulos/florias-papadopoulos.github.io/raw/master/_favicons/favicon.ico">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
